.currentWeather h2 {
  margin-top: 30px;
  font-size: 50px;
  font-family: "Epunda Slab", serif;
}
.currentWeather h1,
p {
  font-size: 21px;
  font-family: "Epunda Slab", serif;
  text-align: center;
}
.currentWeather h3 {
  font-size: 40px;
  font-family: "Epunda Slab", serif;
}

.currentWeather h4 {
  font-size: 47px;
  font-family: "Epunda Slab", serif;
}

.currentWeather {
  text-align: center;
}
