.musiccontainer {
  margin: 20px auto;
  display: block;
  max-width: 480px;
  background-color: #f9cdd5;
  opacity: 78%;
  border-radius: 10px;
  box-shadow: 15px 10px 15px 5px #4a4e56;
  font-family: barlow;
}
.spotify {
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
}

.musiccontainer h4 {
  font-size: 18px;
}
